/* ===== Google Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ===== Guided Style ===== */
:root {
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --h3-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ===== Reset Style ===== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===== Common Style ===== */
.wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

section,
footer {
  padding: 8rem 0 1rem;
}

.section-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.title-center {
  text-align: center;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1024px;
}

.button {
  color: #fff;
  font-size: var(--h3-font-size);
  background: var(--first-color);
  border-radius: 10px;
  width: fit-content;
  padding: 0.75rem 1.563rem;
  margin-top: 1.563rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

/* ===== Main Style ===== */

/* 1. Header Style */
.header {
  box-shadow: 0 5px 10px #efefef;
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.header .nav-logo,
.footer .nav-logo {
  color: var(--title-color);
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 1.25rem 0;
}

.header .nav-logo .nav-logo-icon,
.footer .nav-logo .nav-logo-icon {
  color: var(--first-color);
}

.header .nav-menu {
  display: flex;
  column-gap: 1.5rem;
}

.header .nav-menu .nav-list {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

.header .nav-menu .nav-list .nav-item.active > .nav-link {
  color: var(--first-color);
}

.header .nav-menu .nav-list .nav-item.active > .nav-link::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
}

.header .nav-menu .nav-list .nav-link {
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  padding: 1.25rem 0;
  display: block;
  position: relative;
}

/* .header .nav-menu .nav-list .nav-link::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
} */

.header .nav-menu .nav-btns {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.header .nav-menu .nav-icon {
  flex-direction: column;
  font-size: var(--h2-font-size);
  display: flex;
  color: var(--title-color);
}

.header .nav-menu .nav-icon.menu-icon {
  display: none;
}

/* ===== Home Style ===== */
.home {
  padding: 13rem 0 5rem;
}

.home .home-contents {
  /* container로 할 경우 상단에 표기한 container에 영향이 가므로 class 하나 더 추가해줌 */
  display: flex;
  position: relative;
}

.home .home-contents > .home-box {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .home-contents > div.home-image {
  align-items: center;
}

.home .home-contents > div.home-image > img {
  width: 350px;
}

.home .home-contents .home-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 4.5rem;
  margin-bottom: 1.563rem;
}

.home .home-contents .home-desc {
  color: var(--text-color);
}

.home .home-contents .home-social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* 높이를 모를 경우 transform을 이용하여 자기 자신 높이의 반(50%) */
  /* 중앙정렬 시 left(50%) top(50%) margin-left(50%) margin-top(50%) 다음과 같은 예시를 참고하여 작성 */
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6rem;
}

.home .home-social .home-social-txt {
  transform: rotate(90deg);
  display: flex;
  position: relative;
  align-items: center;
  font-weight: var(--font-medium);
  color: var(--first-color);
  font-size: var(--small-font-size);
}

.home .home-social .home-social-txt::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 5rem;
}

.home .home-social .home-social-links {
  display: flex;
  flex-direction: column;
}

.home .home-contents .home-social .home-social-link {
  color: var(--first-color);
  font-size: 1.15rem;
}

/* ===== About Section style ===== */
.about .about-contents .about-box {
  width: 50%;
  /* container box 자체 공간을 반반 나누기 */
}

.about .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .about-img img {
  width: 380px;
}

.about .about-contents {
  display: flex;
  column-gap: 7rem;
}

.about .about-desc {
  color: var(--text-color);
  margin: 1.563rem 0;
}

.about .about-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-txt .about-check {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about .about-txt .about-detail {
  font-size: var(--small-font-size);
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.about .about-txt .about-btn {
  color: var(--first-color);
  display: flex;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  margin-top: 1.563rem;
  align-items: center;
}

/* ===== middle Section style ===== */
.middle .middle-wrap {
  width: 100%;
  border-radius: 1rem;
  background: var(--first-color);
  padding: 3.5rem 2.5rem;
}

.middle .section-title {
  color: #fff;
  margin-bottom: 2.5rem;
}

.middle .container .middle-boxes {
  display: flex;
  justify-content: space-between;
}

.middle .container .middle-box {
  background-color: #fff;
  border-radius: 1rem;
  width: 30%;
  padding: 2rem 3rem;
}

.middle .container .middle-box h3 {
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  background: var(--first-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  width: fit-content;
}

.middle .container .middle-box h4 {
  margin: 1.125rem 0;
}

.middle .container .middle-box p {
  font-size: var(--small-font-size);
}

/* ===== Product style ===== */
.products .products-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.products .item {
  width: 33.33%;
  padding: 1rem;
}

.products .item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.products .item-image .item-circle {
  position: absolute;
  display: block;
  width: 7rem;
  height: 7rem;
  background: var(--first-color-lighten);
  border-radius: 50%;
  transform: translateY(-30px);
}

.products .item-image img {
  width: 60%;
  z-index: 1;
  transform: translateX(30px);
  transition: all 0.3s ease;
}

.products .item-image:hover img {
  transform: translate(30px, -30px);
}

.products .item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.products .item-info p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.products .item-info i {
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--h2-font-size);
  border-radius: 5px;
  padding: 0.25rem;
  display: block;
}

.products .container .products-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  text-align: center;
}

.products .container .products-desc {
  color: var(--text-color);
  margin: 1.563rem;
  text-align: center;
}

.products .container .products-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== Question Section Style ===== */
.question {
  background-color: var(--first-color-lighten);
}

.question .question-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  margin-top: 2.5rem;
  align-items: flex-start;
}

.question .question-boxes .question-box {
  background: #fff;
  width: calc(50% - 0.5rem);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.question .question-boxes .question-box:hover {
  box-shadow: 0 0 8px #cfcfcf;
}

.question .question-header {
  display: flex;
  padding: 1rem;
}

.question .question-header i {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 0.5rem;
}

.question .question-header h3 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.question .question-answer {
  width: 100%;
  padding: 1rem;
  font-size: var(--small-font-size);
  display: none;
}

.question .question-box.active {
  background: var(--first-color);
}

.question .question-box.active .question-header i,
.question .question-box.active .answer-desc,
.question .question-box.active .question-header h3 {
  color: #fff;
}

/* ===== Contact Section Style ===== */
.contact .contact-contents {
  display: flex;
}

.contact .company-info {
  width: 45%;
}

.contact .input-info {
  width: 65%;
  padding-left: 3rem;
}

.contact div.txt h3 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.contact div.txt span {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contact .contact-tel {
  margin: 2rem 0;
}

.contact .form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact .form p {
  width: 100%;
  position: relative;
}

.contact .form p label {
  position: absolute;
  top: 1rem;
  left: 0;
  transition: all 0.3s;
}

/* placeholder-shown: placeholder가 보이는 것을 체크함. 
                      만약 사용자가 값을 입력하면 placeholder가 보이지 않음
 */

.contact .form p input:not(:placeholder-shown).input:not(:focus) + label {
  top: -0.5rem;
}

.contact .form p input,
.contact .form p textarea {
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  border: none;
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color);
  resize: none;
  outline: 0;
}

.contact .form p .input:focus + label {
  top: -0.5rem;
}

.contact .form p textarea {
  height: 10rem;
}

/* ===== Footer Style ===== */
.footer .footer-contents {
  display: flex;
}

.footer .footer-item {
  width: 25%;
}

.footer .footer-item:nth-child(1) {
  width: 30%;
}

.footer .footer-item:nth-child(1) .footer-title {
  margin: 2rem 0 1rem;
}

.footer .footer-item:not(:first-child) {
  padding-left: 2rem;
}

.footer .nav-logo {
  padding: 0;
}

.footer .footer-title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.footer .btn-box {
  display: flex;
  padding: 0.5rem;
  background: var(--first-color-lighten);
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-around;
}

.footer .btn-box e {
  font-size: var(--small-font-size);
  font-style: normal;
  color: var(--text-color);
}

.footer .btn-box .button {
  margin: 0;
  font-size: var(--small-font-size);
  padding: 1rem;
}

.footer .footer-item p {
  font-size: var(--small-font-size);
  margin: 0.75rem 0;
}

.footer .footer-item .footer-social-box {
  margin-top: 0.75rem;
  display: flex;
  column-gap: 0.75rem;
}

.footer .footer-item .footer-social-box a {
  font-size: 1rem;
  color: var(--text-color);
}

.footer .footer-item .footer-card-box {
  display: flex;
  margin-top: 0.5rem;
  column-gap: 0.5rem;
}

.footer .footer-item .footer-card-box img {
  width: 35px;
}

.footer .copy {
  padding: 7rem 0 2rem;
  text-align: center;
}

.footer .copy p {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/* 
[직접 작성한 코드]

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.home-title {
  font-size: 3.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.home-desc {
  color: var(--text-color);
}

.button {
  font-weight: var(--font-medium);
  background-color: green;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.home-image {
  width: 350px;
  height: 350px;
} */

/* ===== Memo ===== */
/* 1. 박스, 텍스트 그림자 효과
   box-shadow: 0 10px 20px red;
   text-shadow: 0 10px 20px red;
   박스와 글자에 그림자 효과를 표현함. 첫번째 값은 x축, 두번째 값은 y축, 세번째 값은 번짐, 네번째 값은 그림자 색을 나타냄 */
